@font-face {
  font-family: "Dosis";
  src: url("Dosis-SemiBold.otf");
}

html, body {
    background-color: #333;
    font-family: Dosis;
}

.container-fluid {
	padding: 0
}

.col-md-12 {
	margin-top: 20px;
}

.header {
    background-image: url("strip.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 90%;
    padding: 10px;
    background-color: #FD8B23;
    height: 75px;
}

#logo {
	height: 50px;
	float: left;
}

h1 {
    color: #eee;
    text-transform: uppercase;
    margin: 5px 15px 0 0;
    float: right;
}

.cattle {
	width: 150px;
	height: 170px;
    margin: 10px;
	border: 0;
	float: left;
}

.panel-body {
    display: inline-block;
    position: relative;
	width: 150px;
	height: 150px;
}

.dot {
	position: absolute;
	border-radius: 50%;
	background-color: #4D4D4D;
	color: white;
}

.panel {
	background-color: inherit;
}

.panel-body {
	padding: 0;
}

.cattle .panel {
    padding: 0;
}
.cattle .numbers {
	text-align: center;
	width: 100%;
	height: 20px;
    color: #eee;
    font-size: 0.9em;
    z-index: 90;


	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);

}
.cattle .numbers b{
	font-size: 3em;
}
.boom {
    position: absolute;
    z-index: 11;
    left: 24px;
    width: 100px;
}
